{:highlights [{:id #uuid "67bbf197-17cd-4f45-baf7-cbbe0260a6c2",
               :page 1,
               :position {:bounding {:x1 531.0703125,
                                     :y1 551.96875,
                                     :x2 714.269287109375,
                                     :y2 571.96875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 531.0703125,
                                   :y1 551.96875,
                                   :x2 714.269287109375,
                                   :y2 571.96875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 1},
               :content {:text "SIT307 Machine Learning"},
               :properties {:color "red"}}
              {:id #uuid "67bbf3d5-2f36-4e8a-bca9-73870eaa9d26",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 659.6015625,
                                     :x2 216.4145050048828,
                                     :y2 674.1015625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 659.6015625,
                                   :x2 216.4145050048828,
                                   :y2 674.1015625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Essential learning resources"},
               :properties {:color "red"}}
              {:id #uuid "67bbf3e3-d88d-4171-82a3-61e37eb577c1",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 693.1171875,
                                     :x2 698.7518920898438,
                                     :y2 741.140625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 693.1171875,
                                   :x2 698.7518920898438,
                                   :y2 707.6171875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 71.3984375,
                                   :y1 709.8828125,
                                   :x2 681.5877075195312,
                                   :y2 724.3828125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 71.3984375,
                                   :y1 726.640625,
                                   :x2 124.35746765136719,
                                   :y2 741.140625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "There is no prescribed textbook. However the recommended resources below will be utilised to support learning materials provided in the unit site, which will include written notes, audio-visual recordings, task statements and links to external resources."},
               :properties {:color "blue"}}
              {:id #uuid "67bbf3ec-2e89-44d6-a958-3ab3c066605f",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 743.3984375,
                                     :x2 249.24827575683594,
                                     :y2 757.8984375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 743.3984375,
                                   :x2 249.24827575683594,
                                   :y2 757.8984375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Recommended learning resources"},
               :properties {:color "red"}}
              {:id #uuid "67bbf3f7-4ab3-4ae8-9c65-f73d6484e312",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 827.1953125,
                                     :x2 682.0177001953125,
                                     :y2 841.6953125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 827.1953125,
                                   :x2 682.0177001953125,
                                   :y2 841.6953125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Due to the interdisciplinary nature of data science, the following books are highly recommended for additional reading:"},
               :properties {:color "yellow"}}
              {:id #uuid "67bbf400-da6f-4436-a3f7-95b3c7b56bad",
               :page 8,
               :position {:bounding {:x1 92.6953125,
                                     :y1 854.453125,
                                     :x2 703.9046020507812,
                                     :y2 885.609375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 92.6953125,
                                   :y1 854.453125,
                                   :x2 703.9046020507812,
                                   :y2 868.953125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 109.1953125,
                                   :y1 871.109375,
                                   :x2 279.12188720703125,
                                   :y2 885.609375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "The elements of statistical learning. Friedman, Jerome, Trevor Hastie, and Robert Tibshirani. Vol. 1. Springer, Berlin:1. Springer series in statistics, 2009."},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
