{:highlights [{:id #uuid "67bbf197-17cd-4f45-baf7-cbbe0260a6c2",
               :page 1,
               :position {:bounding {:x1 531.0703125,
                                     :y1 551.96875,
                                     :x2 714.269287109375,
                                     :y2 571.96875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 531.0703125,
                                   :y1 551.96875,
                                   :x2 714.269287109375,
                                   :y2 571.96875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 1},
               :content {:text "SIT307 Machine Learning"},
               :properties {:color "red"}}
              {:id #uuid "67bbf3d5-2f36-4e8a-bca9-73870eaa9d26",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 659.6015625,
                                     :x2 216.4145050048828,
                                     :y2 674.1015625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 659.6015625,
                                   :x2 216.4145050048828,
                                   :y2 674.1015625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Essential learning resources"},
               :properties {:color "red"}}
              {:id #uuid "67bbf3e3-d88d-4171-82a3-61e37eb577c1",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 693.1171875,
                                     :x2 698.7518920898438,
                                     :y2 741.140625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 693.1171875,
                                   :x2 698.7518920898438,
                                   :y2 707.6171875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 71.3984375,
                                   :y1 709.8828125,
                                   :x2 681.5877075195312,
                                   :y2 724.3828125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 71.3984375,
                                   :y1 726.640625,
                                   :x2 124.35746765136719,
                                   :y2 741.140625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "There is no prescribed textbook. However the recommended resources below will be utilised to support learning materials provided in the unit site, which will include written notes, audio-visual recordings, task statements and links to external resources."},
               :properties {:color "blue"}}
              {:id #uuid "67bbf3ec-2e89-44d6-a958-3ab3c066605f",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 743.3984375,
                                     :x2 249.24827575683594,
                                     :y2 757.8984375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 743.3984375,
                                   :x2 249.24827575683594,
                                   :y2 757.8984375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Recommended learning resources"},
               :properties {:color "red"}}
              {:id #uuid "67bbf3f7-4ab3-4ae8-9c65-f73d6484e312",
               :page 8,
               :position {:bounding {:x1 71.3984375,
                                     :y1 827.1953125,
                                     :x2 682.0177001953125,
                                     :y2 841.6953125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 827.1953125,
                                   :x2 682.0177001953125,
                                   :y2 841.6953125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Due to the interdisciplinary nature of data science, the following books are highly recommended for additional reading:"},
               :properties {:color "yellow"}}
              {:id #uuid "67bbf400-da6f-4436-a3f7-95b3c7b56bad",
               :page 8,
               :position {:bounding {:x1 92.6953125,
                                     :y1 854.453125,
                                     :x2 703.9046020507812,
                                     :y2 885.609375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 92.6953125,
                                   :y1 854.453125,
                                   :x2 703.9046020507812,
                                   :y2 868.953125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 109.1953125,
                                   :y1 871.109375,
                                   :x2 279.12188720703125,
                                   :y2 885.609375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "The elements of statistical learning. Friedman, Jerome, Trevor Hastie, and Robert Tibshirani. Vol. 1. Springer, Berlin:1. Springer series in statistics, 2009."},
               :properties {:color "yellow"}}
              {:id #uuid "67bc0aab-fc4c-40ce-a596-39495111c7f3",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 530.9375,
                                     :x2 397.4120788574219,
                                     :y2 545.4375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 530.9375,
                                   :x2 86,
                                   :y2 545.4375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 530.9375,
                                   :x2 213.875,
                                   :y2 545.4375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 530.9375,
                                   :x2 397.4120788574219,
                                   :y2 545.4375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "1 3 March 2025 Introduction to ML"},
               :properties {:color "red"}}
              {:id #uuid "67bc0aca-e434-46d7-ba45-f1fba51accff",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 553.53125,
                                     :x2 413.99224853515625,
                                     :y2 568.03125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 553.53125,
                                   :x2 92.296875,
                                   :y2 568.03125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 553.53125,
                                   :x2 220.25,
                                   :y2 568.03125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 553.53125,
                                   :x2 413.99224853515625,
                                   :y2 568.03125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "2# 10 March 2025 Data Wrangling Basics"},
               :properties {:color "red"}}
              {:id #uuid "67bc0ae6-b195-4e14-a67c-96c877ad3868",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 576.234375,
                                     :x2 475.1617431640625,
                                     :y2 590.734375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 576.234375,
                                   :x2 86,
                                   :y2 590.734375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 576.234375,
                                   :x2 220.25,
                                   :y2 590.734375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 576.234375,
                                   :x2 475.1617431640625,
                                   :y2 590.734375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "3 17 March 2025 Unsupervised Learning: Clustering"},
               :properties {:color "red"}}
              {:id #uuid "67bc0b01-2727-4aa0-999c-a04fd14b348f",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 598.8203125,
                                     :x2 554.7832641601562,
                                     :y2 613.3203125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 598.8203125,
                                   :x2 86,
                                   :y2 613.3203125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 598.8203125,
                                   :x2 220.25,
                                   :y2 613.3203125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 598.8203125,
                                   :x2 554.7832641601562,
                                   :y2 613.3203125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "4 24 March 2025 Unsupervised Learning: Dimensionality Reduction"},
               :properties {:color "red"}}
              {:id #uuid "67bc0b18-f974-4e1d-b3cd-68223783b078",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 641.1484375,
                                     :x2 548.5341796875,
                                     :y2 655.6484375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 641.1484375,
                                   :x2 86,
                                   :y2 655.6484375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 641.1484375,
                                   :x2 220.25,
                                   :y2 655.6484375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 641.1484375,
                                   :x2 548.5341796875,
                                   :y2 655.6484375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "5 31 March 2025 Supervised Learning: Basics and Model Selection"},
               :properties {:color "red"}}
              {:id #uuid "67bc0b46-9a23-45c6-b6c7-0dd00d020bde",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 683.359375,
                                     :x2 512.258056640625,
                                     :y2 697.859375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 683.359375,
                                   :x2 86,
                                   :y2 697.859375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 683.359375,
                                   :x2 204.796875,
                                   :y2 697.859375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 683.359375,
                                   :x2 512.258056640625,
                                   :y2 697.859375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "6 7 April 2025 Linear Regression and Logistic Regression"},
               :properties {:color "red"}}
              {:id #uuid "67bc0b5e-8392-45fe-b680-a8b42f6c4e59",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 725.6875,
                                     :x2 425.869384765625,
                                     :y2 740.1875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 725.6875,
                                   :x2 98.5234375,
                                   :y2 740.1875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 725.6875,
                                   :x2 211.171875,
                                   :y2 740.1875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 725.6875,
                                   :x2 425.869384765625,
                                   :y2 740.1875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "7*~ 14 April 2025 Support Vector Machine"},
               :properties {:color "red"}}
              {:id #uuid "67bc0b7a-1fb3-4491-94ad-4230dec8a52e",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 748.2734375,
                                     :x2 398.6891784667969,
                                     :y2 762.7734375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 748.2734375,
                                   :x2 86,
                                   :y2 762.7734375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 748.2734375,
                                   :x2 211.171875,
                                   :y2 762.7734375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 748.2734375,
                                   :x2 398.6891784667969,
                                   :y2 762.7734375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "8 28 April 2025 KNN, Decision Tree"},
               :properties {:color "red"}}
              {:id #uuid "67bc0bba-9190-45e1-b11b-4c0bf7ccbee4",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 770.9765625,
                                     :x2 402.3897705078125,
                                     :y2 785.4765625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 770.9765625,
                                   :x2 86,
                                   :y2 785.4765625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 770.9765625,
                                   :x2 203.21875,
                                   :y2 785.4765625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 770.9765625,
                                   :x2 402.3897705078125,
                                   :y2 785.4765625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "9 5 May 2025 Ensemble Approach"},
               :properties {:color "red"}}
              {:id #uuid "67bc0bd6-c246-4c49-ad98-ce784b2e01ec",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 793.5703125,
                                     :x2 408.412109375,
                                     :y2 808.0703125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 793.5703125,
                                   :x2 92.375,
                                   :y2 808.0703125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 793.5703125,
                                   :x2 209.59375,
                                   :y2 808.0703125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 793.5703125,
                                   :x2 408.412109375,
                                   :y2 808.0703125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "10 12 May 2025 Deep Learning Basics"},
               :properties {:color "red"}}
              {:id #uuid "67bc0bf0-131f-4e7d-b3fe-97d9155aa088",
               :page 9,
               :position {:bounding {:x1 76.1171875,
                                     :y1 816.1640625,
                                     :x2 343.7150573730469,
                                     :y2 830.6640625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 816.1640625,
                                   :x2 92.375,
                                   :y2 830.6640625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 139.71875,
                                   :y1 816.1640625,
                                   :x2 209.59375,
                                   :y2 830.6640625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 301.046875,
                                   :y1 816.1640625,
                                   :x2 343.7150573730469,
                                   :y2 830.6640625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 9},
               :content {:text "11 19 May 2025 Revision"},
               :properties {:color "red"}}],
 :extra {:page 7}}
